{% extends '_layouts/layout_3-3.html' %}
{% block page_title %}Access your personal health record{{serviceName}}{% endblock %}
{% block pageTitle %}Access your personal health record{% endblock %}



{% block content %}

<div class="first-item">

        
        <h3>Only invite patients who are:</h3>
        <ul>
          <li>willing to manage their own health online;</li>
          <li>of sound mind to be able to do that.</li>
        </ul>
        
        <p>This service allows you to create an account to access NHS online services.

        <p><strong>You will need the following items to complete the process:</strong></p>

    <ul>
      <li>A photographic identity document, such as a passport or driving licence.</li>
      <li>A web cam or smart phone with front facing camera;</li>
        <li>A utility or council tax bill with proof of your address.</li>
    </ul>

<a class="button" href="consent">Send invite</a>


{% endblock %}

{% block footer %}{% endblock %}
