{% extends '_layouts/layout_3-3.html' %}
{% block page_title %}Access your personal health record{{serviceName}}{% endblock %}
{% block pageTitle %}Access your personal health record{% endblock %}

{% block content %}

    <p>We need to access your health information to verify your identity.</p>
    <p>Please note, your information will not be shared or used for any other purpose.</p>
  <br />

    <a class="button" href="personal_details">I agree</a> <a class="button.-secondary" href="whatnext">I disagree</a>


 
   
 

  
{% endblock %}


{% block footer %}{% endblock %}