{% extends '_layouts/layout_3-3.html' %}
{% block page_title %}Identity Questions{{serviceName}}{% endblock %}
{% block pageTitle %}Identify Questions{% endblock %}

{% block content %}

<p>We need to ask some questions about your medical history.</p>

<p>The questions will be used to ensure that you are the correct owner of the identity.</p>

<p>The answers you give will not be shared or used for any other purpose.</p>

<div><a class="button" id="who_is_your_GP" href="who_is_your_GP">next</a></div>

{% endblock %}

{% block footer %}{% endblock %}