{% extends '_layouts/layout_3-3.html' %}
{% block page_title %}Identity documents{{serviceName}}{% endblock %}
{% block pageTitle %}Identify documents{% endblock %}

{% block content %}

<p>We need to see copies of two documents that identify you.</p>

<p>The following screens will guide you through the process. The documents will not be shared or used for any other purpose.</p>
<div><a class="button" id="who_is_your_GP" href="proof_of_address">Begin</a></div>

{% endblock %}

{% block footer %}{% endblock %}