{% extends '_layouts/layout_3-3.html' %}
{% block page_title %}Proof of address{{serviceName}}{% endblock %}
{% block pageTitle %}Proof of address{% endblock %}

{% block content %}

<h3>step three of six</h3>

<p>There are a number of different document types you can use, including:</p>

<ul>
	<li>Recent Utility Bill</li>
	<li>Council Tax Bill</li>
	<li>Mobile Phone Bill</li>
	<li>A letter from an NHS Organisation</li>
</ul>

<img src="..Images/photo.png"/>

<div><a class="button" id="proof_of_address" href="photographic_id">Next</a></div>


{% endblock %}

{% block footer %}{% endblock %}