{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Prove My Identity{{serviceName}}{% endblock %}

{% block pageTitle %}Prove My Identity protoypes{% endblock %}

{% block content %}

  <div class="first-item"><h2>Stuart's prototype tool</h2>
  <p>This page will be the hub for the work I do and I'll use it to link off to various files</p>
    
    <ul>
      <li>
        <a href="/alpha04/beta-invite">Registration</a>
      </li>
      <li>
        <a href="/alpha03/beta-invite">Link to GP Page</a>
      </li>
      <li>
        <a href="/alpha02/beta-invite">Simple Verify LOA1 journey [Alpha 02]</a>
      </li>
      <li>
      	<a href="/alpha01/beta-invite">Q&amp;A to decide which method best to login with [Alpha 01]</a>
      </li>
    </ul>

    <h2 class="heading-large">Early Prototypes</h2>
    <ul>
     
      <li>
      	<a href="page1.htmlindex.html">NHS Identify/a><br>
      </li>
    </ul>
   </div>

{% endblock %}

{% block rightcol %}
	<h2 class="heading-large" style="margin-top: 35px;">Verify Prototypes</h2>
    <ul>
      <li>
      	<a href="http://govuk-verify-loa1.herokuapp.com/">Verify LOA1 prototype</a><br>
      	<span class="p__sub">Ask Chris or Liz for username / password</span>
      </li>
     </ul>

{% endblock %}

{% block footer %}{% endblock %}
