<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>

	<style>.pad{margin-right:20px;}
	fieldset{border: none;}
	</style>
	<script>setTimeout(function(){window.location.href='form2.html'},5000);</script>

</head>
<body>
<form>
<fieldset>

<input type="text" class="pad" size="3px;">
<input type="text"class="pad" size="13px">
<input type="text" size="5px;">

</fieldset>	
	
</form>

<img hidden=""  src="file:///Macintosh%20HD/Users/sjessiman/Desktop/Screen%20Shot%202017-06-19%20at%2016.36.52.png"file:///Macintosh%20HD/Users/sjessiman/Desktop/Screen%20Shot%202017-05-25%20at%2021.54.04.png""


</body>
</html>
