<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>

	<style>.pad{margin-right:20px;}
	fieldset{border: none;}
	</style>
	<script>setTimeout(function(){window.location.href='field2.html'},5000);</script>
	<script></script>

</head>
<body>
<h1>Hello</h1>
<form>
<fieldset>

	

<input type="text" class="pad" size="25%x;">
<input type="text"class="pad" size="13px">
<input type="text" size="5px;">

</fieldset>	
	
</form>

<img name="test" hidden=""  src="file:///Macintosh%20HD/Users/sjessiman/Desktop/Screen%20Shot%202017-06-19%20at%2016.36.52.png"file:///Macintosh%20HD/Users/sjessiman/Desktop/Screen%20Shot%202017-05-25%20at%2021.54.04.png""


</body>
</html>
<input type="text"class="pad" size="13px">
<input type="text" size="5px;">

</fieldset>	
	
</form>


</body>
</html>
