{% extends '_layouts/layout_3-3.html' %}

{% block page_title %}{{serviceName}}{% endblock %}

{% block pageTitle %}{% endblock %}

{% block content %}

<h4>Prototype notes ONLY</h4>

<p><i>The application will be contacted by a member of...TBC. From this, it is decided if the applicant's service fits the criteria for being a 'local service'  and is therefore eligable to be listed on the library. If yes, then an email is sent to applicant using the email address given in the first email. They click a link and are directed to the following screen...</i></p>


<a href="service-inclusion-form">Service information form</a>


{% endblock %}

{% block footer %}{% endblock %}