{% extends '_layouts/layout_3-3.html' %}
{% block page_title %}Service inclusion request form{serviceName}}{% endblock %}
{% block pageTitle %}Service inclusion request form{% endblock %}

{% block content %}

    <p>Please complete the form below. Where asked do please provide short, but detailed descriptions about aspects of your service and clear understanding of the service you provide.<br/>
    Contact XXXXX if you have any questions.2
<style type="text/css">.small_instruction {font-weight: 500; font-size: 14px;} .shortwidth {max-width:220px;}</style>
<script>document.getElementById("formedit");
style="border:none";

</script>>
<!--<input style="border:none" type="text" name="clock" size="7" value="5:00">-->
<p align="right" oncick="bordergone()"><a href="#">Edit details</a></p>

    <form name="formedit">

    	<label>Service name </label>
    	<input type="text" name="firstname">
    	<label>Strapline (optional)</label>
    	<span class="small_instruction">140 characters maximum.</span>
    	<textarea cols="10" rows="2"></textarea>

		<label>Briefly describe your service</label>
		<span class="small_instruction">We will use this description on your library entry.</span>
		<textarea cols="10" rows="10"></textarea>


		<label class="number">Service Web Address</label>
		<span class="small_instruction">We recommend you make your description sharp and to the point.</span>
		<input type="text" name="URL">

		<label class="number ">Telephone number</label>
		<span class="small_instruction">this is an admin number we can reach you on.</span>
		<input type="text" name="Telephone" class="shortwidth">
		<label class="email">Email address</label>
		<input type="text" type="email" name="email">
		<hr>
		<h3>Service Contact details for patients</h3>
		<p>This section is to provide contact details for anyone using or wanting to use your service.</p>
		
		<label class="email">Telephone number</label>
		<input type="text" name="telephone" class="shortwidth">
		<label class="email">Contact name (Optional)</label>
		<span class="small_instruction">Provide a contact name if needed.</span>
		<input type="text" name="telephone" >
		<label class="email">Fax number</label>
		<input type="text" name="fax" class="shortwidth">
		<label class="email">Email us</label>
		<input type="text">
		<label class="text">Twitter ID</label>
		<input type="text">
		<label class="email">Facebook address</label>
		<input type="text">
		<label class="text">Linkedin address</label>
		<input type="text">
		<label class="text">Address link 1</label>
		<input type="text">
		<label class="text">Address link 2</label>
		<input type="text">
		<label class="text">Address link 3</label>
		<input type="text">
		<span class="small_instruction">Please add any additional information we need to know.</span>
		<textarea cols="10" rows="5"></textarea>


    </form>

	<a class="button" href="listing-request-form-thanks">Submit service details</a>

  
{% endblock %}


{% block footer %}{% endblock %}