{% extends '_layouts/layout_3-3.html' %}

{% block page_title %}Service details confirmation{serviceName}}{% endblock %}

{% block pageTitle %}Service details confirmation{% endblock %}

{% block content %}
  

		<hr>
		
	    <a href="service-inclusion-form" align="right">Edit</a>	
		<H3>SERVICE NAME</H3>

		<h5>FULL DESCRIPTION</H5>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus massa quam, bibendum ac mi eu, elementum bibendum mi. Donec non felis vitae leo lacinia facilisis non elementum mauris. Aliquam diam enim, vestibulum ut enim non, malesuada egestas nibh. Nullam bibendum imperdiet purus at ornare.</p>


		<h5>TELEPHONE NUMBER</h5>
		<p>+44 (0))6666666666</p>
		<h5>EMAIL ADDRESS</h5>
		<p>wwww.localservice@nhs.net</p>
		<!--<H5>FACEBOOK ADDRESS</H5>
		<P>https://www.facebook.com/Local Service/</P>
		<hr>
		<h3>Admin details</h3>-->

		<hr>

		<H3>ADMIN DETAILS</H3>
		<h5>TELEPHONE NUMBER</h5>
		<p>+44 (0))6666666666</p>
		<h5>EMAIL ADDRESS</h5>
		<p>Dr.Doe@nhs.net</p>
		<h5>NOTES</h5>
		<P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus massa quam, bibendum ac mi eu, elementum bibendum mi. Donec non felis vitae leo lacinia facilisis non elementum mauris. Aliquam diam enim, vestibulum ut enim non</P>


		<a class="button" href="Inclusion-form-thanks">Submit-service-details</a>

  
{% endblock %}


{% block footer %}{% endblock %}